:root {
    --color-dark: #2F303A;
    --color-white: #FFF;
    --color-work: #E5E5E5;
    --color-grey: #F5F4FA;
    --color-text: #212121;
    --color-blue: #2196F3;
    --color-brown: #757575;
}



body {
   
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--color-text);
    background: var(--color-work);
    
}


.current-page {
    text-decoration: none;
    color: var(--color-blue);
}

.page  {
    text-decoration: none;
    color: var(--color-dark);
}

.contact {
    
    text-decoration: none;
    color: var(--color-brown);
}


a:hover {

    text-decoration: none;
     
} 

.logo {
   
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;/*31px*/;
    /* identical to box height */
    text-decoration: none;
    letter-spacing: 0.03em;

    color: var(--color-dark);
   
}

.logo:hover {
   text-decoration-line: underline;
   text-decoration-color: var(--color-blue); 
}

.topline {
   
  background: var(--color-white);
 
}


.bluewords {
    color: var(--color-blue);
    text-decoration-color: none;
}

.blackwords {
    color: var(--color-dark)
    text-decoration-color: none;
}


.whitewords {
    color: var(--color-white);
    text-decoration-color: none;
}


.menu-nav-project {

    display: inline-flexbox;
}



.item-nav {
    
    list-style-type: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact:hover, .current-page:hover, .page:hover {

    color: var(--color-blue);
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-color: var(--color-blue);
}


.tittle-big{
    
    height: 600px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /*60px;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    
}

.tittle-small {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.main-top {
    
    background-color: var(--color-dark);
    color: var(--color-white);
}

.button {
        
   background: var(--color-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;/*30px;
    /* identical to box height, or 188% */
    
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: var(--color-white);
}

.button-portfolio {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    /* identical to box height, or 162% */
    
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-text);
    /* shadow-middle */

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    margin-right: 8px;

    background: var(--color-white);
}

.button-portfolio:focus {
    border-radius: 0px;
}

.button-portfolio:hover {
    background-color: var(--color-blue);
    color: var(--color-white);

}

.main-our-work {

   
    background: var(--color-work);
}

.item-work {
    list-style-type: none;
}

.main-our-team {
    
    background: var(--color-grey);

}

.main-our-team li {
    
    background: var(--color-grey);

}

.footer {
    
    font-style: normal;
    line-height: 1.19;
    
    background: var(--color-dark);
    
}
.item-footer {

    line-height: 1.71;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}



.item-project {
    
    letter-spacing: 0.06em;
    
    color: var(--color-text);
    width: 370px;
    height: 404px;
    left: 215px;
    top: 1130px;
    
    background: var(--color-white);
    border: 1px solid var(--color-white);
}

.tittle-item-project {
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */

    letter-spacing: 0.06em;

    color: var(--color-text);

}

.tittle-item-type{
    
  line-height: 1.88;
  font-size: 16px;
  color: var(--color-brown);

}

.item-benefits {
    list-style-type: none;
    color: var(--color-brown);
}

.item-benefits-tittle {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.92;
    color: var(--color-brown);
    text-transform: uppercase;
}

.item-worker {
   list-style-type: none;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}


.st-footer {
    font-style: normal;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.st-footer-address {
    font-style: normal;
    text-decoration: none;
    color: var(--color-white);
    
}

.item-worker-name {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;
}

.item-worker-type {
    font-family: 'Roboto';
    font-style: normal;
   
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-brown); 
}

.filters-main {

background: var(--color-white);

}