
.logo {
   
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #212121;
   
}

.topline {
  padding-left: 215px;  
  margin-bottom: 100px; 
  background: #FFFFFF;
}

.topline-nav {

    display: inline-block;
    list-style-type: none;
}

.bluewords {
    color: #2196F3;
}


.whitewords {
    color: #ffffff;
}


.menu-nav {
    
    display: inline-block;
    list-style-type: none;
    
}

.menu-nav-address {

    display: inline-block;
    list-style-type: none;
    padding-left: 221px;
}

.menu-nav-footer {

  padding-left: 0;
  list-style-type: none;
}

.menu-nav-project {

    display: inline-block;
    list-style-type: none;
    margin-left: 215px;
}
.menu-nav-last {

    margin-bottom: 202px;
    list-style-type: none;
}

.item-nav {
    display: inline;
    list-style-type: none;
}


.menu-nav:first-child {

    color: #2196F3;
}


.a {
    
    text-decoration: none;
    color: #212121;

}

.main {

    
    
    height: 1600px;
    left: 0px;
    top: 80px;
    
    
        
}

.tittle-big{
    padding-top: 200px;
    align-items: center;
    align-content: center;
    
}

.tittle-small {
    
    padding-left: 50%;
   

}

.main-top {
    
    
    height: 600px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
        /* or 136% */
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    background-color: #212121;
    color: #FFFFFF
}

.button {
        
        width: 200px;
        height: 50px;
        left: 700px;
        top: 430px;
        
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            /* identical to box height, or 188% */
        
          
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
        
            color: #FFFFFF;
}

.button-portfolio {

        
        height: 38px;
        left: 495px;
        top: 174px;
        border: none;
        color: #212121;
        /* shadow-middle */
    
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;

        margin-right: 8px;

        background: #FFFFFF;
}

.button-portfolio:hover {
    
    background: #2196F3;

}

.main-benefits {

    display: inline-block;
    list-style-type: none;
    margin-bottom: 94;
    padding-left: 215px;
}


    /*margin: 774px 215px 215px 1170px;*/


.main-our-work {

    margin-bottom: 94;
    padding-left: 215px;
    
    top: 969px;
    background: #E5E5E5;
}

.main-our-team {
    padding-left: 215px;
    padding-right: 215px;
    margin-bottom: 114px;
    align-items: center;
}

.main-our-projects {
    margin-left: 215px;
    margin-right: 215px;
}

.footer {
    
   
    padding-left: 215px;
    height: 252px;
    left: 0px;
    top: 2097px;

    background: #2F303A;
}

.item {

    display: inline;
    list-style-type: none;
   
}

.item-project {
    
    margin-left: 30px;
    display: inline-block;
    list-style-type: none;
}

.item-benefits {

    width: 270px;
    height: 75px;
    left: 815px;
    top: 800px;
    display: inline-block;
    list-style-type: none;
    border: 30px;
    
}

.item-work {

    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1061px;
    display: inline-block;
    list-style-type: none;

}

.filters-main {

    padding-top: 94px;
    
    display: inline;
    list-style-type: none;
}

.filters-main-nav {

    
    display: inline;
    margin-bottom: 56px;
    list-style-type: none;
}

.filters-list {

    
    margin-left: 38%;
    
}