
.topside {

    
        width: 1600px;
        height: 80px;
        left: 0px;
        top: 0px;
        
    
        background: #FFFFFF;
}

.webstudio {
    /* WebStudio */
    
   
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #2196F3;
   
}

.head_nav {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    display: inline-block;
    color: #212121;
}


.head_ul {
    
    list-style-type: none;
    
}

.head_ul li{

   display: inline;
}

.head_ul:first-child {

    color: #2196F3;
}


.a {
    
    text-decoration: none;
    color: #212121;

}

.main {

        position: absolute;
        width: 1600px;
        height: 600px;
        left: 0px;
        top: 80px;
    
        background: #2F303A;
        
}



.main_selection_top {
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        /* or 136% */
    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin: 200px 452px 280px 452px;
    
        color: #FFFFFF
}

.button {
        position: absolute;
        width: 200px;
        height: 50px;
        left: 700px;
        top: 430px;
    
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            /* identical to box height, or 188% */
        
          
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
        
            color: #FFFFFF;
}

.main_selection_benefits {

    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: #757575;
}

.h2 {

    position: absolute;
        width: 376px;
        height: 42px;
        left: 612px;
        top: 969px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
}

.main_selection_our_work {


    background: #E5E5E5;
}

.main_selection_team{

    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1449px;
    
    background: #F5F4FA;

}

.footer {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;

    background: #2F303A;
}